.donate-form-block,
.donate-form-widget{
    background-color: #f4f4f4;
    @include section-margin(96px, 0);

    .form-widget-wrapper {
        display: flex;
        justify-content: center;
        .form-widget {
            max-width: 540px;
            width: 100%;
            background-color: unset;
        }
    }
}

.subscription-widget-holder {
    .donate-form-block,
    .donate-form-widget {
        background-color: #e4e4e4;
    }

    .donate-form-block {
        margin: 0;
    }
}

.donate-form-widget {
    .donate-form-block {
        margin: 0;
    }
}

.donate-form-block {
    @include section-margin(48px, 70px);

    @include media-breakpoint-down(sm) {
        margin-bottom: 40px;
    }
}

.btn-dajnato-cta {
    cursor: pointer;
    transition: background-color 150ms;

    &:disabled {
        background-color: #e8938e;
        opacity: 1;
    }
}

.dajnato-payment-type {
    font-weight: 500;
}

.dajnato-expenses {
    text-align: left;

    label {
        font-weight: 500;
        font-size: 16px;
        padding-left: 13px;

        .dajnato-expenses-info {
            font-weight: 300;
        }
    }
}

