.donate-section {
    @include section-padding(96px, 96px);
    padding-left: 32px;
    padding-right: 32px;

    @include media-breakpoint-down(md) {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;

        .container-fluid {
            //padding: 0;
        }

        .donate-form-block {
            padding-left: 30px;
            padding-right: 30px;
        }

        .subscription-widget-holder {
            padding: 0;
        }

        h2,
        .donate-content {
            padding-left: 32px;
            padding-right: 32px;
        }

        //.col,
        //.col-md-6 {
        //    padding-left: 0;
        //    padding-right: 0;
        //}
    }

    background-color: #f9f6f4;

    @include media-breakpoint-down(md) {
        .subscription-widget-holder {
            margin-top: 40px;
        }
    }

    .donate-content {
        padding-right: 70px;

        @include media-breakpoint-down(md) {
            padding-right: 0;
        }
    }

    h1, h2 {
        @include title-size(40px, 48px, 24px);
    }

    p {
        @include content-size(15px, 24px, 0);
        @include section-padding(0, 25px);
    }

    a {
        text-decoration: none;
    }

    .collection-progress {
        @include section-margin(25px, 40px);

        @include media-breakpoint-down(md) {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .label {
            @include content-size(13px, 17px, 0);
        }

        .price {
            @include content-size(32px, 36px, 0);

            @include media-breakpoint-down(md) {
                font-size: 24px;
            }
        }
    }
}
