.donate-form-widget{
    background-color: $white;
    @include section-padding(96px, 0);
    .form-widget-wrapper {
        background-color: #f4f4f4;
        display: flex;
        justify-content: center;
        .form-widget {
            max-width: 538px;
            width: 100%;
            background-color: unset;
        }
    }
}
