.donate-form-widget{
    background-color: #f4f4f4;
    @include section-margin(96px, 0);

    .form-widget-wrapper {
        display: flex;
        justify-content: center;
        .form-widget {
            max-width: 540px;
            width: 100%;
            background-color: unset;
        }
    }
}
