.form-widget {
    background-color: #e4e4e4;
    padding: 48px;

    @include media-breakpoint-down(md) {
        padding: 36px;
    }

    @include media-breakpoint-down(sm) {
        padding: 20px;

        .btn-donate {
            margin-bottom: 0;
        }
    }

    .title {
        @include title-size(18px, 25px, 32px);
        font-weight: $font-weight-bold;
        text-align: center;
        padding-top: 9px;

        @include media-breakpoint-down(sm) {
            margin-bottom: 20px;
        }
    }

    .prices {
        display: flex;
        align-items: center;
        margin-bottom: 36px;

        @include media-breakpoint-down(sm) {
            margin-bottom: 20px;
        }

        .price-input {
            width: 100%;
            text-align: center;
            margin-right: -1px;
            margin-left: -1px;

            label {
                display: block;

                span {
                    width: 100%;
                    display: inline-block;
                    @include content-size(18px, 22px, 0);
                    font-weight: $font-weight-bold;
                    padding: 13px 5px;
                    border: 2px solid #c4c5c6;
                    position: relative;

                    &:hover {
                        cursor: pointer;
                    }
                }

                input {
                    display: none;

                    &:checked {
                        + span {
                            background: #f4524d;
                            color: $white;
                            border: 4px solid #f4524d;
                            z-index: 100;

                            &:hover {
                                background: #e0423d;
                                border: 4px solid #e0423d;
                            }
                        }
                    }
                }
            }

            &:first-of-type {
                margin-left: 0;
            }

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}

.btn-donate {
    width: 100%;
    background: #f4524d;
    @include title-size(18px, 22px, 32px);
    font-weight: $font-weight-bold;
    color: $white;
    padding: 19px 10px 15px 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;

    &:disabled {
        opacity: 0.5;
    }

    &:focus-visible {
        outline: none;
    }

    &:hover {
        background: #e0423d;
    }
}

.finances-donate-form {
    max-width: 540px;
    margin: 0 auto;
    padding: 90px 0;
}
