.latest-posts {
    background-color: $white;
    @include section-padding(96px, 0);
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 6rem;

    .section-header {
        padding-top: 0;
    }

    @include media-breakpoint-down(md) {
        padding: 32px;
        margin-bottom: 3rem;
    }
}
