.donation-form {
    padding: 40px;
    color: #3B3B42;
    //background-color: #f4f4f4;
    border: 0;

    .donation-form-amount {
        .btn {
            padding-left: 5px;
            padding-right: 5px;

            @media (max-width: 350px)
            {
                font-size: 13px;
            }
        }
    }

    .modal-header {
        padding: 0;
        border-bottom: 0;

        .modal-title {
            @include title-size(22px, 26px, 24px);
            font-weight: $font-weight-bold;
        }

        .btn-close {
            width: 35px;
            height: 35px;
            font-size: 35px;
            line-height: 0;
            margin: 0;
            background-image: unset;
            color: #3B3B42;
            position: absolute;
            top: 15px;
            right: 15px;
            opacity: 1;
            font-weight: 100;
            display: flex;
            box-sizing: border-box;
            padding: 10px;
            &:active,
            &:focus {
                box-shadow: unset;

            }
        }
    }

    .modal-body {
        padding: 0;

        h6 {
            font-weight: $font-weight-bold;
            @include title-size(16px, 22px, 16px);
        }

        .btn-group {
            width: 100%;

            label {
                padding-top: 13px;
                padding-bottom: 13px;
                border-radius: 0;
                border: 2px solid #C4C5C6;
                font-weight: $font-weight-bold;
                color: #3B3B42;
                @include title-size(18px, 22px, 0);
            }

            > .btn:not(:first-child) {
                margin-left: -2px;
            }

            input {
                &:active,
                &:focus {
                    + label {
                        box-shadow: unset;

                    }
                }
            }

            .btn-check:checked + label,
            .btn-check:hover + label {
                border-color: #F4524D;
                color: $white;
                &:hover{

                    background-color: #e0423d;
                    border-color: #e0423d;
                }
            }

        }

        .form-floating {
            input[type=text],
            input[type=email],
            input[type=number] {
                border: 2px solid #C4C5C6;
                //background-color: #f4f4f4;
                border-radius: 0;

                &:active,
                &:focus {
                    box-shadow: unset;

                }
                &.is-invalid {
                    border-color: #dc3545;
                }
            }

            label {
                color: gray;
            }
        }

        .form-check {
            margin-bottom: 10px;

            .form-check-input {
                width: 18px;
                height: 18px;
            }

            label {
                padding-left: 13px;
            }
        }

        .form-row {
            margin-left: -8px;
            margin-right: -8px;

            > * {
                padding-left: 8px;
                padding-right: 8px;
            }
        }

    }

    .modal-footer {
        border: 0;
        padding: 0;
        width: 100%;

        .submit-form-btn {
            width: 100%;
            font-weight: $font-weight-bold;
            background-color: #F4524D;
            color: $white;
            font-size: 19px;
            line-height: 19px;
            padding: 24px;
            border: 0;
            margin-bottom: 16px;
            &:hover{
                background-color: #e0423d;
            }

        }
    }

}


.modal {
    background-color: rgba(0, 0, 0, 0.4);
    .modal-dialog {
        max-width: 648px;
        @media (max-width: 664px)
        {
            margin-left: 8px;
            margin-right: 8px;
        }
    }
}
