@import 'wp-block-pullquote';

@media (min-width: 782px) {
    .wp-block-columns {
        margin-left: -0.5rem;
        margin-right: -0.5rem;
    }

    .wp-block-column {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}
