.wp-block-buttons {
    .wp-block-button {
        .wp-element-button {
            font-weight: 500;
            @include body-m;
            vertical-align: middle;
            padding: 0.75rem 2rem;
            border-radius: 0.25rem;
            background: $red;
            gap: 0.5rem;

            &:after {
                display: inline-block;
                vertical-align: middle;
                min-width: 1.25rem;
                height: 1.25rem;
                margin-left: 0.5rem;
                content: '';
                @include svgBackground('../images/arrow-right.svg', $white);
            }
        }
    }
}
