.bootstrap-icon-columns {
    margin-top: 3rem;

    .bootstrap-column-inner {
        padding-right: 2rem;

        .wp-block-saleziani-icon {
            margin-bottom: 1rem;

            &,
            svg {
                width: 3rem;
                height: 3rem;
                fill: $green;
            }
        }

        .wp-block-heading {
            font-size: 1.3125rem;
            font-weight: 700;
            line-height: 1.8125rem;
            margin: 0 0 1rem;
            color: $dark;
        }

        ul,
        div.service-content,
        p {
            @include body-m;
            margin: 0 0 1rem 0;
            color: rgba(39, 39, 39, 0.80);

            a {
                @include link-with-icon;
            }

            &:last-child {
                margin: 0;
            }
        }

        ul {
            list-style: none;
            padding-left: 0;

            strong {
                color: $primary;
                @include body-l;
            }
        }
    }
}
