@import 'config';
@import "~bootstrap/scss/bootstrap";
@import 'fonts';
@import 'includes/form-widget';
@import 'includes/modal-donation-form';
@import 'includes/header';
@import 'includes/features';
@import 'includes/service-finances';
@import 'includes/donate-section';
@import 'includes/donate-form-widget';
@import 'includes/collections';
@import 'includes/detail-page';

@import 'wp/blocks';

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: $font-weight-normal;
    color: #3B3B42;
    background-color: #ffffff;
    main{
        max-width: 1440px;
        margin: 0 auto;
    }
    .container-fluid{
        max-width: 1200px;
    }
}

.back-btn{
    color: rgba(59, 59, 66, 0.5);
    text-decoration: none;
    display: flex;
    @include content-size(15px, 15px, 18px);
    align-items: center;
    span{
        font-size: 18px;
        display: inline-block;
        margin-right: 5px;
    }
}
