// keep synced with theme.json

$white: #ffffff;
$dark: #272727;

$red: #cf3942;
$brown: #966a4e;
$yellow: #facb3e;
$blue: #005d80;
$green: #50b6b1;

$light-red: #fbe9e5;
$light-yellow: #fff2ce;
$light-blue: #c7e7f1;
$light-green: #d7eeed;

$very-light-red: #fdf9f8;
